<launch>
  <!-- Nodes for joy teleop -->
  <node pkg="teleop_twist_joy" type="teleop_node" name="joy_teleop_node"/>
  <node pkg="joy" type="joy_node" name="gamepad_driver">
    <rosparam command="load" file="$(find mo_bringup)/config/mo_teleop.yaml" />
  </node>
  <!-- Base driver -->
  <include file="$(find mo_bringup)/launch/mo_base.launch" />

</launch>
