<launch>
  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="realsense2_camera_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="realsense2_camera" args="load realsense2_camera/RealSenseNodeFactory realsense2_camera_manager" output="screen">
      <rosparam command="load" file="$(find mo_bringup)/config/realsense.yaml" />
    </node>
  </group>
</launch>


